@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-info").click(function () {
            console.log("I am clicked");
            $.ajax({
                type: 'GET',
                @*data: { job: @Model.Job },
                dataType: 'json',
                contentType: 'application/json',*@
                url: '@Url.Action("ClaimJob")',
                success: function (result) {
                    console.log(result);
                    $('#claim-job-display').html(result);
                }
            });
        });
    });
</script>


<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
            <li>@Job.Description</li>
        @if (Job.Worker == null)
        {
        <li class="btn">This job is unclaimed. @*@Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })*@
        <button type="button" class="btn btn-info">Claim this Job</button>
        </li>
        <li id="claim-job-display"></li>

        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>

    <hr />
}

